.banner {
  @include tablet {
    --bannerImageOffsetY: 0px;
  }

  --bannerImageOffsetY: 24px;

  padding-block: var(--bannerImageOffsetY);

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-gray);
    border-radius: var(--border-radius-large);
  }

  &__body {
    @include tablet {
      padding: 50px;
    }
    @include mobile {
      row-gap: 20px;
    }

    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 26px;

    padding: 60px;
  }

  &__description {
    max-width: 500px;
  }

  &__image {
    @include tablet {
      max-width: 40%;
    }

    margin-block: calc(var(--bannerImageOffsetY) * -1);
  }
}
