.burger-button{
    @include reset-button;
    @include square(48px);
    @include hover{background-color: var(--color-accent);}
    position: relative;
    border-radius: var(--border-radius-small);

    &::after{
        @include abs-center;
        content: '';

        width: 50%;
        height: 2px;
        border-radius: 5px;
        background-color: var(--color-dark);
        box-shadow: 0 -8px, 0 8px;
    }
}