.button {
  @include flex-center(true);
  @include hover {
    color: var(--color-dark);
    background-color: var(--color-accent);
  }

  font-size: 20px;
  height: var(--button-height);
  padding-inline: 35px;
  border: var(--border);
  border-radius: var(--border-radius);
  color: var(--color-light);
  background-color: var(--color-dark);

  &--transparent {
    color: var(--color-dark);
    background-color: transparent;
  }

  &--accent {
    color: var(--color-dark);
    background-color: var(--color-accent);

    @include hover {
      color: var(--color-accent);
      background-color: var(--color-dark);
    }
  }
}
