.field {
  --fieldInputHeight: var(--input-height);
  --fieldInputTextColor: var(--color-dark);
  --fieldInputBgColor: var(--color-light);
  --fieldInputBorderColor: var(--color-dark);
  --fieldInputPlaceholderColor: var(--color-gray-alt);

  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 5px;

  @include mobile {
    row-gap: 10px;
  }

  &--big-height {
    --fieldInputHeight: var(--button-height);
  }

  &--dark-bg {
    --fieldInputTextColor: var(--color-light);
    --fieldInputBgColor: var(--color-dark-alt);
    --fieldInputBorderColor: var(--color-light);
    --fieldInputPlaceholderColor: var(--color-light);
  }

  &__label {
    @include fluid-text(16, 14);
  }

  &__input {
    width: 100%;
    height: var(--fieldInputHeight);
    padding-inline: 30px;
    color: var(--fieldInputTextColor);
    background-color: var(--fieldInputBgColor);
    border: 1px solid var(--fieldInputBorderColor);
    border-radius: var(--border-radius);

    @include mobile {
      padding-inline: 20px;
    }

    &:focus {
      border-color: var(--color-accent);
      outline: none;
      box-shadow: inset 0 0 5px var(--color-accent);
    }
    &::placeholder {
      color: var(--fieldInputPlaceholderColor);
    }
    &--textarea {
      height: 190px;
      padding-bottom: 18px;
      resize: none;

      @include mobile {
        height: 132px;
      }
    }
  }
}
