.header {
  padding-top: 60px;
  @include desktop{padding-top: 30px;}
  @include mobile{padding-top: 15px;}

  &__inner {
    @include tablet {column-gap: 30px;}
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
  }

  &__logo {
    @include tablet{ max-width: 120px; }
    @include mobile{ max-width: 144px; }
  }

  &__menu {
    @include desktop{font-size: 18px;}
    @include tablet{font-size: 16px;}
    margin-left: auto;
    font-size: 20px;

    &-list {
      @include desktop{column-gap: 20px;}
      display: flex;
      align-items: center;
      column-gap: 40px;
    }

    &-link {
      @include hover {&::after {width: 100%;}}
      position: relative;
      align-items: center;
      height: 48px;

      &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        translate: -50%;
        width: 0%;
        height: 2px;
        background-color: currentColor;
        transition-duration: inherit;
      }
    }
  }

  &__button {
    height: 48px;
    padding-inline: 18px;
    font-size: 16px;
  }
}
