.hero {
  @include desktop {
    row-gap: 60px;
  }
  display: flex;
  flex-direction: column;
  row-gap: var(--section-padding-y);

  &__main {
    @include mobile {
      flex-direction: column;
    }
    display: flex;
    justify-content: space-between;
    align-items: start;
    column-gap: 30px;
  }

  &__body {
    @include mobile {
      display: contents;
    }

    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 35px;
    max-width: 531px;
  }

  &__title {
    @include mobile {
      order: -2;
      margin-bottom: 10px;
    }
  }

  &__description {
    @include mobile {
      margin-bottom: 40px;
    }
    font-size: 20px;
    line-height: 1.4;
  }

  &__button {
    @include mobile {
      width: 100%;
      max-width: 390px;
      margin-inline: auto;
    }
  }

  &__partners {
    &-list {
      @include tablet {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 20px;
      }
      @include mobile-s {
        --heroPartnersWidthOffsetX: 60px;

        column-gap: 0;
        width: calc(100vw + var(--heroPartnersWidthOffsetX) * 2);
        margin-left: calc(
            (var(--heroPartnersWidthOffsetX) + var(--container-padding-x))
            * -1
        );
      }
      display: flex;
      justify-content: space-between;
      column-gap: 37px;
    }

    &-item {
      @include tablet {
        display: flex;
        justify-content: center;
      }
      @include mobile-s {
        justify-content: start;
        &:nth-child(-n +3){justify-content: end;}
        
      }
    }

    &-image {
      filter: grayscale(1);
    }
  }

  &__image {
    @include tablet {
      max-width: 40%;
    }
    @include mobile {
      order: -1;
      width: 100%;
      min-width: 100%;
      margin-bottom: 10px;
    }
  }
}
