.pagination {
    &__list{
        display: flex;
    }

    &__button {
        @include reset-button;
        @include flex-center;
        @include square(24px);
        @include hover { color: var(--color-gray-alt);}

        color: var(--color-light);

        &.is-current {
            color: var(--color-accent);
        }

    }
}