.process {
  &__list {
    @include mobile {
      row-gap: 20px;
    }

    display: flex;
    flex-direction: column;
    row-gap: 30px;
    counter-reset: custom-counter;
    list-style: none;
  }

  &__item {
    --counterContent: counter(custom-counter);
    counter-increment: custom-counter;

    &:nth-child(-n + 9){
        --counterContent: '0' counter(custom-counter);
    }
  }

  &__accordion {
    --indicatorVerticalRotate: 90deg;

    @include mobile {
      padding: 30px;
    }
    @include hover {
      background-color: var(--color-gray-alt);
    }

    padding: 40px 60px;
    background-color: var(--color-gray);
    border: var(--border);
    border-radius: var(--border-radius-large);
    box-shadow: var(--shadow);
    transition-duration: var(--transition-duration);

    &[open] {
      --indicatorVerticalRotate: 0deg;
      background-color: var(--color-accent);
    }

    &-header {
      @include mobile {
        column-gap: 28px;
      }
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 50px;

      cursor: pointer;
      user-select: none;
    }

    &-title {
      @include mobile {
        column-gap: 33px;
      }
      @include fluid-text(30, 18);

      display: flex;
      align-items: center;
      column-gap: 25px;

      &::before {
        @include mobile {
          font-size: 30px;
        }
        content: var(--counterContent);
        font-size: 2em;
      }
    }

    &-indicator {
      @include mobile {
        width: 30px;
      }
      @include flex-center;
      @include square(58px);

      flex-shrink: 0;
      position: relative;
      background-color: var(--color-gray);
      border: var(--border);
      border-radius: 50%;

      &::before,
      &::after {
        content: "";
        @include abs-center;
        width: 45%;
        height: 10%;
        background-color: var(--color-dark);
      }
      &::after {
        rotate: var(--indicatorVerticalRotate);
        transition-duration: var(--transition-duration);
      }
    }

    &-body {
      margin-top: 30px;
      padding-top: 30px;
      border-top: var(--border);
    }
  }
}
