.team-card {
  @include mobile {
    padding-inline: 50px;
  }
  height: 100%;
  padding: 40px 35px;
  border: var(--border);
  border-radius: var(--border-radius-large);
  box-shadow: var(--shadow);

  &__header {
    display: flex;
  }

  &__image {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__info {
    align-self: end;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__link {
    @include flex-center;
    @include square(34px);

    flex-shrink: 0;
    margin-left: auto;
    align-self: start;
    color: var(--color-accent);
    background-color: var(--color-dark);
    border-radius: 50%;
  }

  &__name {
    &:not(:last-child) {
      margin-bottom: 3px;
    }
  }

  &__body {
    --teamCardBodyMarginTop: 28px;

    @include mobile {
      --teamCardBodyMarginTop: 20px
    }

    margin-top: var(--teamCardBodyMarginTop);
    padding-top: var(--teamCardBodyMarginTop) ;
    border-top: var(--border);
  }
}
