@import "mixins", 
        "fonts", 
        "globals", 
        "media", 
        "normalize", 
        "utilis",
        "variables";

@import 
        "blocks/field",
        "blocks/radios",
        "blocks/radio",
        "blocks/button", 
        "blocks/grid" ,
        "blocks/burger-button", 
        "blocks/header",
        "blocks/button", 
        "blocks/cross-button", 
        "blocks/mobile-overlay",
        "blocks/section", 
        "blocks/hero", 
        "blocks/puddle-bg", 
        "blocks/services",
        "blocks/service-card", 
        "blocks/banner", 
        "blocks/studies", 
        "blocks/process",
        "blocks/team",
        "blocks/team-card",
        "blocks/pagination",
        "blocks/reviews",
        "blocks/review-card",
        "blocks/contact-us", 
        "blocks/soc1als" , 
        "blocks/subscribe-form", 
        "blocks/footer";
